.main {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: thin;
    color: #C1E1C1
}

.titles {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #527452
}
